body {
    background-color: #f8fafc;
    font-family: "Poppins", sans-serif;
}

h3 {
    color: #53575c;
    font-weight: 600;
}

.card {
    border: 1px solid #e2e8f0;
    border-radius: 12px;
    background-color: #ffffff;
}

.table th {
    background-color: #5cb1b4;
    color: #fff;
    text-align: center;
}

.table td {
    text-align: center;
    vertical-align: middle;
}

.btn-primary {
    background-color: #328b97;
    border: none;
    transition: 0.3s;
}

.btn-primary:hover {
    background-color: #65d1cc;
}

.btn-secondary {
    background-color: #5a5f5f;
    border: none;
}

.btn-secondary:hover {
    background-color: #4dc9be;
}

.btn-warning {
    background-color: #64dbe4;
    color: #000;
    border: none;
}

.btn-warning:hover {
    background-color: #00d1e0;
}

.btn-danger {
    background-color: #347b85;
    border: none;
}

.btn-danger:hover {
    background-color: #b6b0b1;
}

.alert {
    font-weight: 500;
}

/* === Botones de acciones iguales === */
#tablaEspecialidades .btn {
    min-width: 90px;       
    padding: 6px 0;        
    border-radius: 6px;
}


#tablaEspecialidades .btn-sm {
    min-width: 90px;
    font-size: 0.9rem;
}
