body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #fff;
}

.text-teal {
  color: #009688;
}

.sidebar {
  min-height: 100vh;
  border-right: 1px solid #ddd;
}

.list-group-item.active {
  background-color: #009688 !important;
  border-color: #009688 !important;
}

.list-group-item .small {
  font-size: 0.8rem;
  color: white;
}

.nav-link {
  font-size: 0.95rem;
}

.nav-link:hover {
  background-color: #f1f1f1;
}

.table th {
  vertical-align: middle;
}

.btn i {
  font-size: 1.2rem;
}
